<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Panel - Wolf</title>
</head>
<body>
  <h1>Bienvenue sur le panel de Wolf</h1>
  <a href="/tickets">Configurer les tickets</a>
</body>
</html>
